# Telegram bot token. Can be obtained via https://t.me/BotFather
BOT_TOKEN=42:ABC

# PostgreSQL configuration
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=pg_password
POSTGRES_USER=postgres
POSTGRES_DB=db_name
POSTGRES_PORT=5432
POSTGRES_DATA=/var/lib/postgresql/data

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_DATA=/redis_data
